notebook/*
*.egg-info/*
demo/073_pred.py
*/__pycache__/*

compare*

*.DS_Store

*.html

*.gif

arch/*

*.npy

out/*.png
out/*.gif
out/*.mp4
out/*.mov
out/*.avi
out/*.webm
out/*.webp
out/*.jpg
out/*.jpeg
out/*.png
out/*.gif
out/*.pdf